$green: #a7cf38;
$secondary: #006838;
$primary: #349946;
$success: $green;

$title-banner: rgba($primary, 0.7);

$font-family-sans-serif: 'Montserrat', sans-serif;

$tranistion-all: all 0.2s linear;

$border-radius: 0;
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
$border-radius-pill: 0;