$green: #d9f58c;
$secondary: #00311b;
$primary: #006839;
$success: $green;
$brand-grey: #dbe1da;
$blue: #063B61;
$info: $blue;
$yellow: #f4ef64;
$red: #972900;

$title-banner: rgba($primary, 0.7);

$tranistion-all: all 0.2s linear;

$border-radius: 0;
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
$border-radius-pill: 0;